.linkweb-head {
    margin-top: 10px;
}

.linkweb-title {
    float: left;
    width: 100%;
    color: #569cd6;
    font: 40px/3 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    text-align: center;
}

.linkweb-title a {
    color: #569cd6;
    font: 40px/3 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    outline: none;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 50%;
    margin-left: 600px;
    background-color: #1e1e1e;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 0 4px 0px;
}

.back-to-top a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #ff0000;
}

.linkweb-nav {
    /* border: 1px solid transparent; */
    /* border-color: #3a3a3a transparent; */
    border-width: 1px 0px;
    border-style: solid;
    border-color: #3a3a3a transparent;
}

.linkweb-navlist {
    padding: 0px 186px; /*使导航栏内容居中*/
}

.linkweb-navlist li {
    float: left;
    /* width: 100px; */
    text-align: center;
}

.linkweb-navlist li a {
    display: inline-block;
    /* width: 100%; */
    padding: 0px 10px;
    font: 15px/3 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: turquoise;
}

.linkweb-navlist li a:hover {
    background: #3c3c3c;
    box-shadow: 0 0 2px 0px inset;
}

.article-box {
    padding-top: 50px;
    border: 1px solid #3a3a3a;
}

.article-title {
    font: 30px/2 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: turquoise;
    padding-left: 30px;
    border-top: 5px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
}

.article-title a {
    font: 30px/2 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    outline: none; /*这里很奇怪，不知道为什么会默认有outline*/
    color: turquoise;
}

.weblist {
    width: 100%;
}

.weblist li {
    float: left;
    width: 100%;
    padding: 10px 0px;
    /* box-sizing: border-box; */
    border-bottom: 1px solid #3a3a3a;
    text-align: center;
}

.weblist li img {
    width: 20px;
    height: 20px;
    background-color: #3c3c3c;
    margin-right: 5px;
}

/* .section-box {

} */

.section-title {
    font: 20px/2 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #2b9c5c;
    padding-left: 50px;
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
}

.section-title a {
    font: 20px/2 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    outline: none;
    color: #22dce9;
}

.linkweb-footer {
    padding-bottom: 500px;
    background-color: transparent;
}

.linkweb-info {
    color: #777765;
    padding-top: 5px;
}

.linkweb-info li {
    text-align: center;
}
